form {
    margin: 0;
    padding: 0;
    display: inline;
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.badge {
    background-color: #999;
    color: white;
    padding: 4px 8px;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
}

.htmx-indicator {
    display: none;
}

.text-center {
    text-align: center;
}

.version {
    font-size: 0.8em;
    color: #999;
    margin-left: 0.25rem;
    vertical-align: middle;
}

.credits {
    font-size: 0.9em;
    color: #777;
}

/* pico css overrides */

:root {
    --pico-form-element-spacing-vertical: 0.15rem;
    --pico-form-element-spacing-horizontal: 1rem;
}

/** dynamic nav bar **/

.topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topnav a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:first-child {
    font-size: 1.15rem;
    font-weight: 600;
}

.topnav a:not(.icon) i {
    margin-right: 0.3rem;
}

.topnav .icon {
    display: none;
}

.topnav img {
    display: block;
    margin-right: 0.5rem;
}

@media screen and (max-width: 775px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 775px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/** tab support for admin page **/

[role="tabs"] {
    display: flex;
  }
  
[role="tabs"] section {
display: flex;
flex-wrap: wrap;
width: 100%;
}

[role="tabs"] figure {
flex-grow: 1;
width: 100%;
height: 100%;
display: none;
}

[role="tabs"] [type="radio"]:checked + figure {
display: block;
}

nav[role="tab-control"] label.active {
color: var(--pico-primary);
cursor: pointer;
}