<div class="uk-text-center uk-margin-top">

    <img src="/assets/imgs/logo-300.png"
         alt="OpenTrashmail Logo"
         class="uk-margin-medium-bottom"
         width="300"
         height="300">

    <h1 class="uk-heading-medium">
        Welcome to OpenTrashmail
    </h1>

    <p class="uk-margin">
        <a href="https://github.com/abyssox/opentrashmail"
           target="_blank"
           class="uk-button uk-button-secondary">
            <i class="fa-brands fa-github"></i>
            <span class="uk-margin-small-left">View on Github</span>
        </a>
    </p>

    <p class="uk-text-lead">
        OpenTrashmail is an open source, selfhostable, disposable email service that helps you protect your privacy online.
        With OpenTrashmail, you can create your own trashmail addresses using your own domain, subdomain or wildcard domain
    </p>

    <p class="credits uk-margin-top otm-blue-hover">
        This project is a private fork of
        <a href="https://github.com/HaschekSolutions/opentrashmail" target="_blank">
            HaschekSolutions/opentrashmail
        </a>.<br>
        All credit and thanks go to the original author and contributors for creating and sharing such a great tool!
    </p>
</div>
